<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="workstation id=yemektarifi.mssql.somee.com;packet size=4096;user id=tugbakaracak_SQLLogin_1;pwd=t4b7o44fo6;data source=yemektarifi.mssql.somee.com;persist security info=False;initial catalog=yemektarifi" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
